/* **************** Fluid Text **************** */
/* todo: https://utopia.fyi/type/calculator/ */
:root {
  /* ? Customize ? */
  --step--2: clamp(0.74rem, 0.75rem + -0.05vw, 0.7rem);
  --step--1: clamp(0.89rem, 0.87rem + 0.07vw, 0.94rem);
  --step-0: clamp(1.06rem, 1.01rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.28rem, 1.17rem + 0.53vw, 1.67rem);
  --step-2: clamp(1.53rem, 1.34rem + 0.94vw, 2.22rem);
  --step-3: clamp(1.84rem, 1.53rem + 1.52vw, 2.96rem);
  --step-4: clamp(2.2rem, 1.73rem + 2.36vw, 3.95rem);
  --step-5: clamp(2.64rem, 1.93rem + 3.55vw, 5.26rem);
}

/* **************** Custom Properties **************** */
:root {
  --first-color: #ef9a53;
  --second-color: #fff7e9;
  --third-color: #323232;
  --fourth-color: #82aae3;
  --dark-color: #393e46;
  --white-color: #ffffff;
}
:root {
  --max-width: 1200px;
}

/* **************** Reset **************** */
/* ? Html */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

/* ? Body */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
}

/* ? Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--third-color);
}

/* ? Media */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ? Lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ? Links */
a {
  text-decoration: none;
  color: inherit;
}

/* ? Paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* **************** Components **************** */
/* ? Container */
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
}

/* ? Header */
.header {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .menu {
  width: 24px;
  height: 24px;
}
.header .logo {
  font-size: var(--step-0);
  font-style: italic;
  font-weight: 800;
}
.header .user {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.header .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* ? Navigation */
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.99);
  backdrop-filter: blur(10px);
}
.navigation .navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation .navigation-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation .navigation-list-item a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: var(--gray-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.navigation .navigation-list-item a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 2.8rem;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  margin: auto;
  height: 2px;
  background-color: var(--first-color);
  border-radius: 5rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.navigation .navigation-list-item a.active::after {
  transform: scaleX(1);
  transform-origin: center;
  transition-delay: 0.2s;
}
.navigation .navigation-list-item a svg {
  position: relative;
  width: 24px;
  height: 24px;
  fill: var(--dark-color);
}

/* ? Pizza Card */
.pizza-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 250px;
  height: 100%;
}
.pizza-card .pizza-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  aspect-ratio: 1/1;
}
.pizza-card .pizza-card-content {
  display: flex;
  gap: 0.5rem;
}
.pizza-card .pizza-card-content-words {
  width: 70%;
}
.pizza-card .pizza-card-content h3 {
  font-size: var(--step-1);
  font-weight: 700;
  color: var(--third-color);
}
.pizza-card .pizza-card-content p {
  font-size: var(--step-1);
  font-weight: 400;
  color: #aaa;
}
.pizza-card .pizza-card-content-button {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.pizza-card .pizza-card-content-button svg {
  width: 3rem;
  height: 3rem;
}

/* **************** Utilities **************** */
.cl-white {
  color: var(--white-color);
}
.in-case {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 1rem;
  padding: 0 05rem;
}
.span-bl {
  font-weight: 700;
}
.no-results {
  display: block;
  padding: 1rem 0;
  font-size: var(--step-1);
  text-align: center;
  color: #393e46;
  font-weight: 700;
  font-style: italic;
}

/* **************** Site Styles **************** */
/* ? Main Home */
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--third-color);
}
main .svg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
main .introduction {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
main .introduction h2 {
  font-size: var(--step-3);
  font-weight: 800;
  text-align: center;
}
main .introduction p {
  font-size: var(--step-2);
  font-weight: 400;
  text-align: center;
}
main .login {
  display: flex;
  flex-direction: column;
  background-color: var(--first-color);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 4rem;
}
main .login a {
  font-size: var(--step-2);
  font-weight: 800;
  text-align: center;
  color: var(--white-color);
}
main .signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--step-1);
  font-weight: 800;
}
main .signup p {
  color: var(--third-color);
}
main .signup a {
  color: var(--fourth-color);
}

/* ? Search */
.search {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 32px;
  background-color: #efefef;
  color: var(--third-color);
  border-radius: 0.5rem;
}
.search svg {
  width: 16px;
  height: 16px;
}
.search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--step-1);
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.search .autocomplete-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  background-color: var(--white-color);
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 1;
}
.search .autocomplete-panel ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.search .autocomplete-panel ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--step-0);
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
  padding: 0.5rem;
}
.search .autocomplete-panel ul li .item-details {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  margin-right: 1rem;
}
.search .autocomplete-panel ul li .item-details {
  text-align: right;
}

/* ? Home */
.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}
.home article h2 {
  font-size: var(--step-3);
  font-weight: 600;
}

/* ? Pizzas */
.pizzas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border: #323232;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu .menu-header,
.selected-recipies .selected-recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-header h2,
.selected-recipies .selected-recipe-header h2 {
  font-size: var(--step-3);
  font-weight: 600;
}
.menu .menu-header a,
.selected-recipies .selected-recipe-header a {
  font-size: var(--step-1);
  font-weight: 500;
  color: var(--fourth-color);
}

/* ? Pizza */
.arrow {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: rgba(50, 50, 50, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pizza img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.pizza .pizza-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem 0 1rem;
  height: calc(50% - 4rem);
}
.pizza-content .pizza-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.pizza-content .pizza-header h2 {
  display: block;
  width: 70%;
  font-size: var(--step-3);
  font-weight: 700;
}
.pizza-content .pizza-header p {
  font-size: var(--step-2);
  font-weight: 700;
  color: var(--first-color);
}
.pizza-content .pizza-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pizza-content .pizza-body .rating {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.pizza-content .pizza-body .rating svg {
  width: 1.5rem;
  height: 1.5rem;
}
.pizza-content .pizza-body p {
  font-size: var(--step-1);
  font-weight: 400;
  text-align: justify;
}
.pizza-content .pizza-body .pizza-info {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pizza-content .pizza-body .pizza-info .pizza-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.pizza-content .pizza-body .pizza-info .pizza-info-item svg {
  width: 3rem;
  height: 3rem;
}
.pizza-content .pizza-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.pizza-content .pizza-footer .btn {
  width: calc(60% - 1rem);
  height: 4rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: var(--step-1);
  font-weight: 700;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}
.pizza-content .pizza-footer .counter {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: var(--second-color);
  color: var(--third-color);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}
.pizza-content .pizza-footer .counter .btn-a {
  width: 2rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  color: var(--first-color);
  font-size: var(--step-3);
  font-weight: 700;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}
.pizza-content .pizza-footer .counter .btn-count {
  font-size: var(--step-2);
  font-weight: 700;
  color: var(--third-color);
}

@media screen and (min-width: 23em) {
  .pizzas {
    justify-content: space-between;
  }
  .pizza-card {
    max-width: 45%;
  }
  .pizza .pizza-content {
    height: calc(43%);
  }
}

.reviews {
  color: #dedede;
  font-weight: 700;
  border-left: 3px solid #dedede;
  padding-left: 1rem;
}
